@import './variables.scss';

// General
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:992px) {
  .flex-lg-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-control:focus{
  box-shadow: none ;
  border-color: #ced4da;
}

.circle-large{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.circle-small{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.notification{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
}

.fit{
  width: 100%;
  height: 100%;
  border-radius:inherit;
}

.pointer{
  cursor: pointer;
}

// Fonts
.f-18{
  font-size: 18px;
}


// colors
.main-color{
  color: $main-color;
}
.bg-main-color{
  background-color: $main-color;
}

.secondary-color{
  color: $secondary-color;
}
.bg-secondary-color{
  background-color: $secondary-color;
}
